html {
    background-color: green;
    font-family: 'Roboto';
    color: white;
}


body {
    zoom: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.logo, .main-text {
    color: #F9FAF8;
}


.links a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.links a, .secondary-text {
    color: #E5E7EB;
}

.header, .hero {
    background-color: #1F2937;
}


.header, .hero {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 80px;
}

.hero {
    gap: 64px;
}

.main-text {
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    margin-top: 4px;
}

.sign-up {
    background-color: #3882F6;
}

.hero-image {
    margin-top: 48px;
    width: 900px;
    height: 256px;
}

.sign-up {
    color: white;
    font-weight: 900;
    text-align: center;
    padding: 8px 48px;
    border-radius: 8px;
    border: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
